<p></p>
<mat-divider></mat-divider>
<table>
<td>
  <tr>
    <mat-card class="dashboard-card">
      <div id="chart0"></div>
      </mat-card>
  </tr>
</td>
<td>
  <tr>
    <mat-divider></mat-divider>
<mat-card class="dashboard-card1">
  <div id="chart1"></div>
</mat-card>
  </tr>
</td>
<td>
  <tr>
    <mat-divider></mat-divider>
<mat-card class="dashboard-card2">
  <div id="chart2"></div>
</mat-card>
  </tr>
</td>
<td>
  <tr>
    <mat-divider></mat-divider>
<mat-card class="dashboard-card">
  <div id="chart3"></div>
</mat-card>
  </tr>
</td>
</table>


